*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/*NAVBAR START*/

.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px;
    background-color: deepskyblue;
    color: white;
}

.nav-links a{
    color: white;
}

.logo{
    font-size: 32px;
}

.menu{
    display: flex;
}

.menu li:hover {
    background-color: dodgerblue;
    border-radius: 5px;
    transition: 0.4s;
}

.menu li {
    padding: 5px 14px;
}

.cate {
    position: relative;
}

.sub-menu {
    background-color: darkturquoise;
    padding: 7px 0;
    position: absolute;
    display: none;
    box-shadow: 2px 2px 2px 2px #888888;
}

.sub-menu li {
    text-align: center;
    width: 100px;
}

.cate:hover .sub-menu {
    display: block;
}
/*REPONTSIVE MENU START*/

input[type=checkbox]{
    display: none;
}
.hamburger{
    display: none;
    font-size: 24px;
}
@media (max-width: 768px){
    .menu{
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        background-color: dodgerblue;
        top: 75px;
    }
    .menu li:hover{
        display: inline-block;
    }
    .menu li + li{
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;
    }
    .hamburger{
        display: block;
    }

}

/*REPONSIVE MENU END*/
/*NAVBAR END*/

/*BANNER START*/

.banner {
    padding: 50px;
    text-align: center;
    color: white;
    font-size: 30px;
    height: 300px;
    background-image: url("https://www.sydney.com/sites/sydney/files/styles/open_graph/public/2021-03/175987-Header-Desktop_0.jpg?itok=0-ArEyZU");
    background-size: cover;
    transition: 0.3s;
}

.banner:hover {
    opacity: 0.9;
    transition: 0.3s;
}
/*BANNER END*/

.title {
    text-align: center;
    background-color: rgb(0, 25, 109);
    color: white;
    height: 70px;
    line-height: 70px;
    font-size: 28px;
    margin-bottom: 20px;
}

/*PRODUCT CART START*/

.content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.product-images {
    width: 100%;
    transition: 0.5s;
}

.cart {
    box-shadow: 0 4px 8px rgb(0, 32, 80);
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
    overflow: hidden;
}

.cart button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(19, 97, 0);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: 0.2s;
}

.cart button:hover {
    opacity: 0.8;
    transition: 0.2s;
}

.product-images:hover {
    transform: scale(1.1);
}

.price {
    color: rgb(206, 20, 20);
    font-size: 22px;
}
/*PRODUCT CART END*/

/*FOOTER START*/
footer{
    position: absolute;
    bottom: -1800px;
    left: 0;
    right: 0;
    background-color: rgb(5, 71, 170);
    color: white;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}

.footer-content p {
    font-size: 14px;
    color: rgb(161, 161, 161);
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;

}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 50%;
}

.socials a:hover i {
    color: #433bb3;
}
/*FOOTER END*/